p {
    color: #adb1ba;
    font-size: 1rem;
    line-height: 1.5em;
}

h1 {
    font-size: 8em;
}


h3 {
    font-size: 1.5em;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 2px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}



button:hover {
    background-color: white;
    color: black;
}
